In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName('hello spark').master('local').getOrCreate()

In [6]:


df = spark.read.json('D:/china/intershipBigData/yelp/yelp_academic_dataset_review.json')
rating_dist = df.groupBy("stars").count().orderBy("stars")
rating_dist.show()

+-----+-------+
|stars|  count|
+-----+-------+
|  1.0|1069561|
|  2.0| 544240|
|  3.0| 691934|
|  4.0|1452918|
|  5.0|3231627|
+-----+-------+

In [7]:


df = spark.read.json('D:/china/intershipBigData/yelp/yelp_academic_dataset_review.json')
df = df.withColumn("day_of_week", date_format("date", "EEEE"))
rating_frequency_by_day_of_week = df.groupBy("day_of_week", "stars").count().orderBy("day_of_week", "stars")
rating_frequency_by_day_of_week.show()

+-----------+-----+------+
|day_of_week|stars| count|
+-----------+-----+------+
|     Friday|  1.0|145304|
|     Friday|  2.0| 70798|
|     Friday|  3.0| 89206|
|     Friday|  4.0|189791|
|     Friday|  5.0|447057|
|     Monday|  1.0|155785|
|     Monday|  2.0| 83307|
|     Monday|  3.0|109695|
|     Monday|  4.0|226274|
|     Monday|  5.0|455068|
|   Saturday|  1.0|168269|
|   Saturday|  2.0| 83393|
|   Saturday|  3.0| 99651|
|   Saturday|  4.0|208298|
|   Saturday|  5.0|505845|
|     Sunday|  1.0|178993|
|     Sunday|  2.0| 97509|
|     Sunday|  3.0|115885|
|     Sunday|  4.0|235178|
|     Sunday|  5.0|518344|
+-----------+-----+------+
only showing top 20 rows

In [8]:

df = df = spark.read.json('D:/china/intershipBigData/yelp/yelp_academic_dataset_review.json')
df_5_star_ratings = df.filter(df["stars"] == 5)
top_merchants_with_most_5_stars = df_5_star_ratings.groupBy("business_id") \
    .count().orderBy("count", ascending=False)
top_merchants_with_most_5_stars.show(5)

+--------------------+-----+
|         business_id|count|
+--------------------+-----+
|ytynqOUb3hjKeJfRj...| 4014|
|ac1AeYqs8Z4_e2X5M...| 4012|
|GXFMD0Z4jEVZBCsbP...| 3838|
|_ab50qdWOk0DdB6XO...| 3645|
|_C7QiQQc47AOEv4PE...| 3095|
+--------------------+-----+
only showing top 5 rows

In [10]:
review_df = spark.read.json('D:/china/intershipBigData/yelp/yelp_academic_dataset_review.json')
business_df =  spark.read.json('D:/china/intershipBigData/yelp/yelp_academic_dataset_business.json')
ratings_df = review_df.filter(review_df["stars"] == 5)
top_df = ratings_df.groupBy("business_id") \
    .count().orderBy("count", ascending=False)
names_df = top_df.join(business_df.select("business_id", "name"), 
                                                               top_df["business_id"] == business_df["business_id"])
top_5_merchants = names_df.select("name", "count").limit(5)
top_5_merchants.show()

+--------------------+-----+
|                name|count|
+--------------------+-----+
|Boyd Hill Nature ...|   25|
|The Richel D'Ambr...|   29|
|          Wanderwell|    5|
|Champion Chevrole...|   19|
|      The Beer Store|   14|
+--------------------+-----+